@import './browser-reset.css';
@import './variables.css';

html {
  font-family: Arial, sans-serif;
  color: var(--color-text);
  font-size: 62.5%; /* Change default size for rem usage (10px) */
}

body {
  font-size: 1.6rem;
}
